<div class="container">
  <div class="row">
    <div class="col">
      <h1>Products</h1>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <div class="card-deck">
        {% for product in products %}
          <div class="card">
            <a width="300" height="200" href="/product/view?id={{ product.id }}">
              <img class="card-img-top"
                   src="https://picsum.photos/300/200"
                   alt="Card image cap">
            </a>
            <div class="card-body">
              <h5 class="card-title">{{ product.name }} </h5>
              <small>${{ product.price }}</small>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                additional
                content. This content is a little bit longer.</p>
              <a href="/product/view?id={{ product.id }}"><p class="card-text">Show more...</p></a>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>